

/* Web form properties*/
body {
   
   background-color: #ABD3F2;
  
}


 /*textbox properties */
.textbox {
   
    Background-color: #029DE0;

    /*vertically center text*/
    padding: 200px;
}  




